# Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache# Netlist files (exported from Eeschema)
*.net
*-backups
fp-info-cache

# KiCad lock files
*.kicad*.lck

# Autosaves
**autosave**
**auto_save**

# Ignore Gerbers Directories
*Gerbers*

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Ignore LibreOffice temp files
.~lock*


